<div class="container">
  <div class="row justify-content-lg-center">
      <div class="font-weight-bold justify-content-lg-center" style="font-size: 80px">About</div>
  </div>
  <div class="row justify-content-lg-center">
    <div class="justify-content-lg-center">
      <h5 style="text-align: center">
        ながのCAKEは全国発送可能なケーキ屋です、<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
        </h5>
    </div>
  </div>
  <div class="row justify-content-xl-center pt-md-5">
    <%= image_tag 'ケーキの画像.jpg', size: '700x300' %>
  </div>
</div>