<h1>public側のTOPページです</h1>

<%= link_to 'アカウント登録', new_customer_registration_path %>
<%= link_to 'ログイン', new_customer_session_path %>
<%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
